/* .instraction-tri {
    border: 0.126rem solid #ccc;
    width: max-content;
    padding: 0.63rem;
}
.button-tri {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333333;
}
.button-tri a{
    text-decoration: none;
}
.payment-tri {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333333;
    padding: 0.63rem 0.315rem;
    border-radius: 0.315rem;
    width: max-content;
} */
